@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #f7d305;
  }

  header {
    background-color: #111;
  }

  .line {
    background-color: #f7d305;
  }

  .menu {
    background-color: #f7d305;
    color: #333;
  }

  .separator {
    border-color: #f7d305;
  }

  .name-container__photo__img {
    border: #f7d305 2px solid;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: white;
    color: #333;
  }

  header {
    background-color: white;
  }

  .line {
    background-color: #333;
  }
  .menu {
    background-color: white;
  }

  .name-container__photo__img {
    border: #333 2px solid;
  }
}
@media only screen and (min-width: 0px) {
  header {
    height: 9%;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }

  .content-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 9%;
  }

  .separator {
    border: 3px solid;
    border-radius: 5px;
    margin-bottom: 50px;
    animation: separator-on-load 0.5s ease-in-out;
  }

  @keyframes separator-on-load {
    0% {
      margin-right: 100%;
    }
    100% {
      margin-right: 0;
    }
  }

  .section-header {
    margin-bottom: 0px;
    font-size: 2em;
  }

  .name-container {
    width: 100%;
  }

  .name-text {
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  .text-field {
    padding-left: 25px;
    padding-right: 25px;
  }

  @keyframes create-x {
    0% {
      transform: none;
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: translateY(15px) rotate(45deg);
      opacity: 1;
    }
  }

  @keyframes remove-x {
    0% {
      transform: translateY(15px) rotate(45deg);
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes create-x-middle {
    0% {
      transform: none;
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: rotate(45deg);
      opacity: 1;
    }
  }

  @keyframes remove-x-middle {
    0% {
      transform: rotate(45deg);
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes create-x-reverse {
    0% {
      transform: none;
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: translateY(-15px) rotate(-45deg);
      opacity: 1;
    }
  }

  @keyframes remove-x-reverse {
    0% {
      transform: translateY(-15px) rotate(-45deg);
      opacity: 1;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  .menu-button {
    height: 40px;
    width: 60px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    cursor: pointer;
    margin: 10px;
  }

  .line {
    width: 100%;
    height: 7px;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .menu-button.open .line:nth-child(1) {
    animation: create-x 1s forwards;
  }

  .menu-button.open .line:nth-child(2) {
    transition-delay: 1.5s;
    animation: create-x-middle 1s forwards;
  }

  .menu-button.open .line:nth-child(3) {
    animation: create-x-reverse 1s forwards;
  }

  .menu-button.close .line:nth-child(1) {
    animation: remove-x 1s forwards;
  }

  .menu-button.close .line:nth-child(2) {
    transition-delay: 1.5s;
    animation: remove-x-middle 1s forwards;
  }

  .menu-button.close .line:nth-child(3) {
    animation: remove-x-reverse 1s forwards;
  }

  .menu {
    position: fixed;
    height: 91%;
    width: 100%;
    top: 9%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  .menu__section {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .menu__section__icon {
    margin-left: 10px;
  }

  .menu__section__link {
    width: 100%;
  }

  .animate-menu-in {
    animation: slide-in 1s forwards normal;
  }

  .animate-menu-out {
    animation: slide-out 1s forwards normal;
  }

  @keyframes slide-in {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  @keyframes slide-out {
    0% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }

  .name-container__photo {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media only screen and (min-width: 769px) {
  .name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .name-container__photo {
    display: inherit;
    visibility: visible;
    width: 13%;
    height: 20%;
    margin-top: 23px;
  }

  .name-container__photo__img {
    height: 100%;
    width: 100%;
    border-radius: 12%;
  }

  .name-text__container {
    width: 500px;
  }

  .text-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .intro-section {
    width: 60%;
  }
  .experience-section {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    width: 40%;
  }
}

html {
  h2 {
    font-size: 5em;
  }

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.menu__section__link {
  color: #333;
  text-decoration: none; /* no underline */
}

.menu__section__link .menu__section:hover {
  text-decoration: underline;
}
.menu__section:hover {
  text-decoration: underline;
}
